html,body{
	margin: 0;
	padding: 0;
}
img{
	display: block;
}
#container{
	width: 800px;
	margin: 0 auto;
	position: relative;
}

#animation{
	width: 350px;
	position: absolute;
	top: 170px;
	right: 110px;
}